<!DOCTYPE html>
<html lang="pt_BR">
<head>

    <meta charset="utf-8">
    <title>My Webpage</title>
    <style> {{ stylesheet }}</style>

</head>

<body>

   <h1 class ="tittle">Acompanhamento de Cargas </h1>
   <p  class ="subtitle"> Volume das cargas executada no GCP na data {{data}} </p>

    {{tabela}}
</body>
</html>